<mat-toolbar class="toolbar-small" color="primary">
  <button [mat-menu-trigger-for]="mainMenu" mat-icon-button aria-label="Menu button" >
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #mainMenu="matMenu">
    <button (click)="saveProject()" mat-menu-item>{{ 'save project' | translate | capitalize }}</button>
    <button (click)="projectImportInput.click()" mat-menu-item>{{ 'import project' | translate | capitalize }}</button>
    <button (click)="exportBanners()" mat-menu-item>{{ 'export banners' | translate | capitalize }}</button>
  </mat-menu>
  <input #projectImportInput (change)="importProject()" type="file" style="display: none" accept=".ade">
  <span>
    {{ title }}
  </span>

  <div fxFlex fxFlexAlign="center" fxLayout="row nowrap" fxLayoutAlign="end center">
    <button (click)="translateService.use('cs'); this.cdr.detectChanges()" mat-button>CZ</button>
    <button (click)="translateService.use('en'); this.cdr.detectChanges()" mat-button>EN</button>
  </div>

</mat-toolbar>

<main class="main" fxLayout="column">
  <div  *ngIf="exporting" class="export-backdrop">
    <div class="progress-center">
      <mat-progress-bar color="accent" mode="indeterminate"></mat-progress-bar>
    </div>
  </div>

  <div (click)="contextMenu.visibility = 'none'"
       [style.top]="contextMenu.top" [style.left]="contextMenu.left"
       [style.display]="contextMenu.visibility"  id="context-menu">
    <button mat-button (click)="ctxAction.action($event); contextMenuActions = [];" *ngFor="let ctxAction of contextMenuActions">
      {{ ctxAction.name | translate }}
    </button>
  </div>

  <section id="editor" fxFlex="grow" fxLayout="row nowrap" class="editor">

    <app-shape-data class="shape-data" fxFlexOrder="1"></app-shape-data>

    <div (click)="contextMenu.visibility = 'none'; contextMenuActions = []"
         fxLayout="column nowrap" #stageWrapper fxLayoutAlign="start" fxFlex class="canvas-wrapper" fxFlexOrder="2">
      <!-- Datasets-->
      <div fxLayout="row nowrap" class="datasets" cdkDropListOrientation="horizontal" cdkDropList
           cdkDropListLockAxis="x" (cdkDropListDropped)="reorderDatasets($event)">

        <button disableRipple cdkDrag mat-flat-button *ngFor="let dataset of dataService.datasets; index as i"
                [ngClass]="{'active': dataset.datasetName === dataService.activeDataset}"
                (click)="dataService.setActiveDataset(dataset.datasetName)">
          {{ dataset.datasetName }}

          <button (click)="$event.stopImmediatePropagation(); dataService.removeDataset(i)" mat-icon-button>
            <mat-icon style="font-size: 13pt;">delete</mat-icon>
          </button>
        </button>
      </div>
      <!-- Stage -->
      <div id="stage" (dragover)="$event.preventDefault()" class="canvas-stage" ></div>
    </div>

    <app-draw-toolbar class="draw-toolbar" ngClass.lt-sm="draw-toolbar-mobile" fxFlexOrder="3" fxFlexAlign.lt-sm="end"></app-draw-toolbar>

  </section>
</main>

