<div class="shape-aside" fxFlex fxLayout="column" fxLayoutGap=".5rem">

  <div style="padding: .5rem" fxLayout="column" fxLayoutGap=".5rem">
    <button (click)="changeDataset('template')" color="primary" mat-flat-button>
      {{ 'template view' | translate | capitalize }}
    </button>
    <button (click)="displayOptions()" color="primary" mat-flat-button>
      {{ 'display options' | translate | capitalize }}
    </button>
    <button (click)="dataService.addDataset()" mat-flat-button color="accent" fxFlex>
      {{ 'add' | translate | titlecase }} {{  'dataset' | translate }}
    </button>
    <button (click)="datasetUpload.click()" mat-flat-button color="accent" fxFlex>
      {{ 'upload' | translate | titlecase }} {{ 'dataset' | translate }}
    </button>

    <input type="file" (change)="uploadDatasets($event)" style="display: none" #datasetUpload name="file" class="hidden" accept="text/csv">
  </div>

  <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap=".25rem">
    <div fxLayout="row" fxFlex fxLayoutGap=".25rem">
      <button mat-button fxFlex (click)="addShape('circle')">
        <mat-icon class="toolbar-mat-icon">lens</mat-icon>
      </button>
      <button mat-button fxFlex (click)="addShape('rect')">
        <mat-icon class="toolbar-mat-icon">crop_square</mat-icon>
      </button>
    </div>

    <div fxLayout="row" fxFlex fxLayoutGap=".25rem">
      <button mat-button fxFlex (click)="addShape('image')">
        <mat-icon class="toolbar-mat-icon">insert_photo</mat-icon>
      </button>
      <button mat-button fxFlex (click)="addShape('text')">
        <mat-icon class="toolbar-mat-icon">format_size</mat-icon>
      </button>
    </div>
  </div>


</div>
