@import "src/_variables.scss";

.radius-none {
  border-radius: 0;
}

::ng-deep.mat-expansion-panel-header-description {
  justify-content: flex-end;
}

.shape-aside {
  height: 100%;
  background-color: #fafafa;
  position: relative;
}

.show-btn {
  position: absolute;
  left: 100%;
  z-index: 10;
}

