<mat-expansion-panel class="mat-elevation-z0 expansion-panel radius-none">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Headline
    </mat-panel-title>
    <mat-panel-description>
      <mat-icon>format_size</mat-icon>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <ng-template matExpansionPanelContent>

    <div fxLayout="column" fxLayoutGap="0.5rem">

      <mat-form-field fxFlex appearance="outline">
        <mat-label>Headline</mat-label>
        <textarea [(ngModel)]="headlineText" (input)="konva.changeHeadline({text: headlineText})" matInput></textarea>
      </mat-form-field>

     <app-text-style shapeName="headline"></app-text-style>


    </div>

  </ng-template>
</mat-expansion-panel>
