<mat-expansion-panel class="mat-elevation-z0 expansion-panel radius-none">
  <mat-expansion-panel-header style="align-items: center">
    <mat-panel-title style="align-items: center">
      <div fxLayout="row nowrap">
        <button mat-icon-button style="width: 20px; height: 40px;"
                (click)="$event.stopImmediatePropagation(); dataService.swapZIndexes(1, shapeInfo);" >
          <mat-icon>expand_less</mat-icon>
        </button>
        <button mat-icon-button style="width: 25px; height: 40px;"
                (click)="$event.stopImmediatePropagation(); dataService.swapZIndexes(-1, shapeInfo);">
          <mat-icon>expand_more</mat-icon>
        </button>
      </div>
      {{ 'headline' | translate | capitalize }}
    </mat-panel-title>
    <mat-panel-description style="align-items: center">
      <mat-icon>format_size</mat-icon>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <ng-template matExpansionPanelContent>

    <div fxLayout="column" fxLayoutGap="0.5rem">

      <mat-form-field fxFlex appearance="outline">
        <mat-label>{{ 'headline' | translate | capitalize }}</mat-label>
        <textarea [(ngModel)]="headlineText"
                  (input)="textService.updateText('headline', {text: headlineText})" matInput>
        </textarea>
      </mat-form-field>

     <app-text-style shapeName="headline"></app-text-style>


    </div>

  </ng-template>
</mat-expansion-panel>
