<div class="layer-tree-wrap">
  <mat-tree cdkDropList (cdkDropListDropped)="onDrop($event)"
            [dataSource]="this.actualDataSource"
            [treeControl]="treeControl">
    <!-- This is non-collapsible node -> children -->
    <mat-tree-node matRipple (click)="selectCanvasNode($event, node)" cdkDrag cdkDragBoundary=".layer-tree-wrap"
                   [cdkDragData]="node" *matTreeNodeDef="let node" matTreeNodePadding>
  <!--    <li>-->
  <!--      <div>-->
  <!--        <button class="tree-icon-button" mat-icon-button disabled>-->
  <!--          <mat-icon>remove</mat-icon>-->
  <!--        </button>-->
  <!--        <span style="margin-left: 1.61em"></span>-->
          <fa-icon class="fa-tree-icon" [icon]=node.iconName></fa-icon>
          <span *ngIf="!shouldChangeName(node)" (dblclick)="changeName($event, node)">
            {{ node.name }}
          </span>
          <mat-form-field (focusout)="rename(node)" (keydown.enter)="rename(node)"
                          *ngIf="this.shouldChangeName(node)">
            <input matInput type="text" [(ngModel)]="node.name"/>
          </mat-form-field>
  <!--      </div>-->
  <!--    </li>-->
    </mat-tree-node>
    <!-- This is the collapsible node-->
    <mat-tree-node (click)="this.treeControl.toggle(node)" cdkDrag cdkDragBoundary=".layer-tree-wrap"
                   [cdkDragData]="node" *matTreeNodeDef="let node; when: hasChildAndIsntBackground" matTreeNodePadding>
      <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle' + node.name">
        <mat-icon>
          {{ treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right' }}
        </mat-icon>
      </button>
      <fa-icon class="fa-tree-icon" [icon]=node.iconName></fa-icon>
      <span *ngIf="!shouldChangeName(node)" (dblclick)="changeName($event, node)">
        {{ node.name }}
      </span>
      <mat-form-field (focusout)="rename(node)" (keydown.enter)="rename(node)"
                      *ngIf="this.shouldChangeName(node)">
        <input matInput type="text" [(ngModel)]="node.name"/>
      </mat-form-field>
  <!--    <li>-->
  <!--      <div matTreeNodeToggle class="node-toggle mat-tree-node">-->
  <!--        <button disableRipple="true" class="tree-icon-button" mat-icon-button>-->
  <!--          <mat-icon>-->
  <!--            {{ nestedTreeControl.isExpanded(node) ? 'expand_more' : 'chevron_right' }}-->
  <!--          </mat-icon>-->
  <!--        </button>-->
  <!--        <span *ngIf="!shouldChangeName(node)" (dblclick)="changeName($event, node)">-->
  <!--          {{ node.name }}-->
  <!--        </span>-->
  <!--        <mat-form-field (focusout)="rename(node)" (keydown.enter)="rename(node)"-->
  <!--                        *ngIf="this.shouldChangeName(node)">-->
  <!--          <input matInput type="text" [(ngModel)]="node.name"/>-->
  <!--        </mat-form-field>-->
  <!--      </div>-->
  <!--      <ul [hidden]="!nestedTreeControl.isExpanded(node)">-->
  <!--        <ng-container matTreeNodeOutlet></ng-container>-->
  <!--      </ul>-->
  <!--    </li>-->
    </mat-tree-node>
  </mat-tree>
</div>
