@import "src/_variables.scss";

.drawing-toolbar {
  min-width: 20rem;
  max-width: max-content;
  height: 100%;
  background-color: #e0e0e0;
  border-top: 5px solid $accent;
}

.draw-tool {
  padding: 1em;
  text-align: center;
}

.draw-tool-mat-icon {
  font-size: 25pt;
  margin-left: -7px;
  margin-top: -7px;
  color: black;
}

.draw-tool-fa-icon {
  font-size: 20pt;
}

.txt-center {
  text-align: center;
}

.radius-none {
  border-radius: 0;
}

.expansion-panel {
  margin-bottom: 0!important;
}
