<aside fxLayout="column" fxLayoutGap="0.5em" fxLayoutAlign="start" class="drawing-toolbar">

  <mat-expansion-panel class="mat-elevation-z0 expansion-panel radius-none" expanded="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Logo
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="0.5rem">
        <button mat-raised-button color="primary">Upload logo</button>
        <ngx-file-drop dropZoneLabel="Drop logo here" (onFileDrop)="fileDropped($event)"></ngx-file-drop>

        <div fxLayout="row wrap" fxLayoutGap="0.25rem" class="logo-gallery">
          <img fxFlex *ngFor="let imageSource of this.imageSources" [src]="imageSource" />
        </div>

      </div>
    </ng-template>
  </mat-expansion-panel>

  <mat-expansion-panel class="mat-elevation-z0 expansion-panel radius-none" expanded="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Headline
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <div fxLayout="column" fxLayoutGap="0.5rem">
        <mat-form-field fxFlex appearance="outline">
          <mat-label>Headline</mat-label>
          <textarea [(ngModel)]="headlineText" (input)="headlineTextChanged($event)" matInput></textarea>
        </mat-form-field>
        <mat-form-field  appearance="outline">
          <mat-label>Font family</mat-label>
          <input [formControl]="fontFamilyControl" type="text" matInput aria-label="Font family" [matAutocomplete]="auto">
          <!-- Font family -->
          <mat-autocomplete (optionSelected)="loadFont($event)"
                            [displayWith]="autocompleteDisplay"
                            autoActiveFirstOption="true" #auto="matAutocomplete">
            <mat-option *ngFor="let font of this.filteredFonts | async" [value]="font">
              {{ font.family }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <!-- Font alignment -->
        <mat-button-toggle-group value="left" fxFlexAlign="center" (change)="headlineTextAlignChanged($event)" #textAlignGroup="matButtonToggleGroup">
          <mat-button-toggle value="left" aria-label="Text align left">
            <mat-icon>format_align_left</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle value="center" aria-label="Text align center">
            <mat-icon>format_align_center</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle value="right" aria-label="Text align right">
            <mat-icon>format_align_right</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle value="justify" aria-label="Text align justify">
            <mat-icon>format_align_justify</mat-icon>
          </mat-button-toggle>
        </mat-button-toggle-group>

        <div fxFlex fxLayout="column">
          <div class="slider-label" fxLayout="row" fxLayoutAlign="space-between end">
            <label>Line height</label>
            <span>{{ fontLineHeight }}</span>
          </div>
          <mat-slider (change)="konva.changeHeadline({lineHeight: fontLineHeight})"
                      [(ngModel)]="fontLineHeight" thumbLabel min="1" max="5" step="0.1" value="1"></mat-slider>
        </div>


        <div fxFlex fxLayout="column">
          <div class="slider-label" fxLayout="row" fxLayoutAlign="space-between end">
            <label>Letter spacing</label>
            <span>{{ fontLetterSpacing }}</span>
          </div>
          <mat-slider (change)="konva.changeHeadline({letterSpacing: fontLetterSpacing})"
                      [(ngModel)]="fontLetterSpacing" thumbLabel min="-10" max="10" step="0.1" value="0"></mat-slider>
        </div>



      </div>

    </ng-template>
  </mat-expansion-panel>

  <mat-expansion-panel class="mat-elevation-z0 expansion-panel radius-none" expanded="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Background
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>

    </ng-template>
  </mat-expansion-panel>

  <mat-expansion-panel class="mat-elevation-z0 expansion-panel radius-none">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Button
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>

    </ng-template>
  </mat-expansion-panel>

</aside>
