<aside fxLayout="column" fxLayoutGap="0.5em" fxLayoutAlign="start" class="drawing-toolbar">

  <mat-expansion-panel class="mat-elevation-z0 expansion-panel radius-none">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Logo
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <div  fxLayout="column" fxLayoutAlign="start" fxLayoutGap="0.5rem">
        <button mat-raised-button color="primary">Upload logo</button>
      </div>
    </ng-template>
  </mat-expansion-panel>

  <mat-expansion-panel class="mat-elevation-z0 expansion-panel radius-none">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Headline
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>

    </ng-template>
  </mat-expansion-panel>

  <mat-expansion-panel class="mat-elevation-z0 expansion-panel radius-none">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Background
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>

    </ng-template>
  </mat-expansion-panel>

  <mat-expansion-panel class="mat-elevation-z0 expansion-panel radius-none">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Button
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>

    </ng-template>
  </mat-expansion-panel>

</aside>
