<aside fxLayout="column" fxLayoutAlign="start" class="drawing-toolbar">

  <div style="padding: .5rem" fxLayout="row" fxLayoutGap=".5rem" fxLayoutAlign="center center">
    <mat-checkbox [(ngModel)]="konva.shouldTransformRelatives">
      {{ 'modify relatives' | translate | capitalize }}
    </mat-checkbox>

    <mat-form-field>
      <mat-label>{{ 'modifying mode' | translate | capitalize }}</mat-label>
      <mat-select value="percentage" (valueChange)="konva.setModifyMode($event)">
        <mat-option value="pixel">{{ 'pixel mode' | translate | capitalize }}</mat-option>
        <mat-option value="percentage">{{ 'percentage mode' | translate | capitalize }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <app-logo></app-logo>

  <app-headline></app-headline>

  <app-background></app-background>

  <app-button></app-button>

  <mat-expansion-panel (opened)="getShapeAttrs(shapeInfo)" *ngFor="let shapeInfo of dataService.userShapes" class="mat-elevation-z0 radius-none ">
    <mat-expansion-panel-header>
      <mat-panel-title>{{ shapeInfo.userShapeName }}</mat-panel-title>
      <mat-panel-description fxLayoutAlign="end center">
        <button (click)="$event.stopImmediatePropagation(); removeUserShape(shapeInfo);" mat-icon-button>
          <mat-icon>delete</mat-icon>
        </button>
        <mat-icon *ngIf="shapeInfo.isImage">insert_photo</mat-icon>
        <mat-icon *ngIf="shapeInfo.isText">format_size</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>
      <ng-container *ngIf="shapeInfo.isText;">
        <!-- Is text-->
        <div fxLayout="column" fxLayoutGap="0.5rem">
          <mat-form-field fxFlex appearance="outline">
            <mat-label>{{ 'content_for' | translate: {for: ( shapeInfo.userShapeName )} | titlecase }}</mat-label>
            <textarea  (input)="textService.updateText(shapeInfo.userShapeName.slugify(), {text: $event.target.value })"
                      [value]="userShapeTexts.get(shapeInfo.userShapeName)"
                      matInput [placeholder]="('text_for' | translate:{for: shapeInfo.userShapeName}) | capitalize" >
            </textarea>
          </mat-form-field>

          <app-text-style [shapeName]="shapeInfo.userShapeName.slugify()"></app-text-style>
        </div>
      </ng-container>
      <!-- Is image -->
      <ng-container *ngIf="shapeInfo.isImage" #imageContainer>
        <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="0.5rem">
          <button (click)="openGallery(dataService.activeDataset, shapeInfo)" fxFlex #uploadBtn mat-raised-button color="primary">
            <mat-icon>insert_photo</mat-icon>
            {{ shapeInfo.userShapeName | translate | capitalize }}
          </button>
          <app-image-filter (filterChanged)="konva.applyFilter(shapeInfo.userShapeName.slugify(), $event)"></app-image-filter>
        </div>
      </ng-container>

      <!-- Is shape -->
      <app-shape-bg-color *ngIf=" !shapeInfo.isImage && !shapeInfo.isText && !shapeInfo.isButton"
                          (fillChanged)="shapeBgChanged($event, shapeInfo.userShapeName.slugify())"
                          [shape]="shapeInfo.userShapeName"></app-shape-bg-color>
    </ng-template>


  </mat-expansion-panel>

<!--  <app-add-custom></app-add-custom>-->

</aside>
