<mat-expansion-panel class="mat-elevation-z0 expansion-panel radius-none">
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{ 'background' | translate | capitalize }}
    </mat-panel-title>
    <mat-panel-description>
      <mat-icon>insert_photo</mat-icon>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="0.5rem">
    <app-shape-bg-color (fillChanged)="bgChangedEvent($event)" shape="background"></app-shape-bg-color>
  </div>
</mat-expansion-panel>
