.radius-none {
  border-radius: 0;
}

::ng-deep.mat-expansion-panel-header-description {
  justify-content: flex-end;
}


.bg-gallery img {
  max-width: 8rem;
  object-fit: scale-down;
}

#background-preview-stage {
  border: 1px solid #a0a0a0;
}

.slider-label {
  margin-top: 15px!important;
}
