<mat-expansion-panel expanded="true" class="mat-elevation-z0 expansion-panel radius-none">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Background
    </mat-panel-title>
    <mat-panel-description>
      <mat-icon>insert_photo</mat-icon>
    </mat-panel-description>
  </mat-expansion-panel-header>
    <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="0.5rem">

      <button (click)="openGallery(dataService.activeDataset, logoShapeInfo)" fxFlex #uploadBtn mat-raised-button color="primary">
        <mat-icon>insert_photo</mat-icon>
        Background image
      </button>

      <mat-form-field appearance="outline">
        <mat-label>Background fit</mat-label>
        <mat-select [(ngModel)]="selectedBackgroundFit" (selectionChange)="konva.positionBackground($event.value); konva.redraw()">
          <mat-option [value]="opt" *ngFor="let opt of this.imageFitOptions">
            {{ opt }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div fxFlex fxLayout="column">
        <div class="slider-label" fxLayout="row" fxLayoutAlign="space-between end">
          <label>Zoom effect</label>
          <span>{{ zoom }}</span>
        </div>
        <mat-slider [(ngModel)]="zoom" thumbLabel min="0.1" max="2" step="0.1"
                    (valueChange)="konva.zoomBackground($event)"></mat-slider>
      </div>

      <!-- Gradients -->
      <section fxLayout="column" fxLayoutGap=".25rem">
        <mat-form-field>
          <mat-label>Background color</mat-label>
          <input [(ngModel)]="fillColor" (keydown.enter)="backgroundColorPicker.close()" (focus)="backgroundColorPicker.open()"
                 [ngxMatColorPicker]="backgroundColorPicker" (colorChange)="fillColorChanged($event)" matInput #backgroundFillInput>
          <ngx-mat-color-toggle matSuffix [for]="backgroundColorPicker"></ngx-mat-color-toggle>
          <ngx-mat-color-picker [defaultColor]="defaultFillColour" #backgroundColorPicker [touchUi]="touchUi"></ngx-mat-color-picker>
        </mat-form-field>

        <div fxLayout="row nowrap" fxLayoutGap="0.25rem">
          <div fxFlex id="background-preview-stage"></div>
          <mat-button-toggle-group vertical fxFlexAlign="start" (change)="changeFillStyle()" [(ngModel)]="fillStyle" name="fillStyle" aria-label="Fill Style">
            <mat-button-toggle checked="true" value="color">Solid</mat-button-toggle>
            <mat-button-toggle value="linear-gradient">Linear</mat-button-toggle>
            <mat-button-toggle value="radial-gradient">Radial</mat-button-toggle>
          </mat-button-toggle-group>
        </div>
        <div fxFlex fxLayout="column" fxLayoutGap=".25rem">
          <mat-form-field>
            <mat-label>Gradient color</mat-label>
            <input [(ngModel)]="defaultGradientColor" (keydown.enter)="gradientPicker.close()" (focus)="gradientPicker.open()"
                   [ngxMatColorPicker]="gradientPicker" (colorChange)="gradientColorChanged($event)" matInput #gradientColourInput>
            <ngx-mat-color-toggle matSuffix [for]="gradientPicker"></ngx-mat-color-toggle>
            <ngx-mat-color-picker [defaultColor]="defaultGradientColor" #gradientPicker [touchUi]="touchUi"></ngx-mat-color-picker>
          </mat-form-field>

          <ng-container *ngIf="fillStyle !== 'color'">
            <h5>Color stops</h5>

            <mat-button-toggle-group fxFlexAlign="start" name="colorStops" aria-label="color stops">
              <ng-container *ngFor="let colorStop of colorStops; index as i">
                <mat-button-toggle (change)="setEditableColorStop($event.value)" [value]="i"  *ngIf="i % 2 === 1">
                  {{ i }}
                </mat-button-toggle>
              </ng-container>
              <mat-button-toggle (click)="addColorStop()">
                <mat-icon>add</mat-icon>
              </mat-button-toggle>
            </mat-button-toggle-group>

            <div fxLayout="column nowrap">
              <ng-container *ngFor="let colorStop of colorStops; let i = index;trackBy:trackByIdx">
                <mat-form-field *ngIf="editableColorStopIdx === i" fxFlexOrder="1">
                  <mat-label>Color stop {{ i }}</mat-label>
                  <input [(ngModel)]="colorStopEditableColor" (keydown.enter)="colorStopPicker.close()" (focus)="colorStopPicker.open()"
                         [ngxMatColorPicker]="colorStopPicker" (colorChange)="changeColorStopColor($event)" matInput #gradientColourInput>
                  <ngx-mat-color-toggle matSuffix [for]="colorStopPicker"></ngx-mat-color-toggle>
                  <ngx-mat-color-picker [defaultColor]="colorStopEditableColor" #colorStopPicker [touchUi]="touchUi"></ngx-mat-color-picker>
                </mat-form-field>

                <div *ngIf="i % 2 === 0" fxLayout="row nowrap" fxFlexOrder="2" fxLayoutAlign="start start" fxLayoutGap=".25rem">
                  <span class="slider-label">{{ i }}</span>
                  <mat-slider [(ngModel)]="colorStops[i]" (valueChange)="changeColorStop()" [value]="colorStop"
                              fxFill thumbLabel min="0" step="0.01" max="1"></mat-slider>
                </div>

              </ng-container>
            </div>



          </ng-container>
          <div fxLayout="column" fxFlex *ngIf="fillStyle === 'radial-gradient'">
            <span>Start gradient radius</span>
            <mat-slider thumbLabel (change)="radialGradientRadiusChanged($event)" [(ngModel)]="radialGradientStartRadius"
                        min="1" step="1" max="100" >
            </mat-slider>
          </div>
          <div fxLayout="column" fxFlex *ngIf="fillStyle === 'radial-gradient'">
            <span>End gradient radius</span>
            <mat-slider thumbLabel (change)="radialGradientRadiusChanged($event)" [(ngModel)]="radialGradientEndRadius"
                        min="1" step="1" max="100" >
            </mat-slider>
          </div>
        </div>
      </section>

    </div>
</mat-expansion-panel>
