<mat-expansion-panel class="mat-elevation-z0 expansion-panel radius-none">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Logo
    </mat-panel-title>
    <mat-panel-description>
      <mat-icon>insert_photo</mat-icon>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <ng-template matExpansionPanelContent>
    <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="0.5rem">
      <app-image-filter (filterChanged)="konva.applyImageFilter('logo', $event)"></app-image-filter>
    </div>
  </ng-template>
</mat-expansion-panel>
