<mat-expansion-panel #pane class="mat-elevation-z0 expansion-panel radius-none">
  <mat-expansion-panel-header style="align-items: center">
    <mat-panel-title  style="align-items: center">
      <div fxLayout="row nowrap">
        <button mat-icon-button style="width: 20px; height: 40px;"
                (click)="$event.stopImmediatePropagation(); dataService.swapZIndexes(1, logoShapeInfo);" >
          <mat-icon>expand_less</mat-icon>
        </button>
        <button mat-icon-button style="width: 25px; height: 40px;"
                (click)="$event.stopImmediatePropagation(); dataService.swapZIndexes(-1, logoShapeInfo);">
          <mat-icon>expand_more</mat-icon>
        </button>
      </div>

      {{ 'logo' | translate | titlecase }}
    </mat-panel-title>
    <mat-panel-description style="align-items: center">
      <mat-icon>insert_photo</mat-icon>
    </mat-panel-description>
  </mat-expansion-panel-header>

  <ng-template matExpansionPanelContent>
    <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="0.5rem">
      <button (click)="openGallery(dataService.activeDataset, logoShapeInfo)" fxFlex #uploadBtn mat-raised-button color="primary">
        <mat-icon>insert_photo</mat-icon>
        {{ 'logo' | translate | titlecase }}
      </button>
      <app-image-filter (filterChanged)="konva.applyFilter('logo', $event)"></app-image-filter>
    </div>
  </ng-template>
</mat-expansion-panel>
