<mat-expansion-panel expanded="true" class="mat-elevation-z0 expansion-panel radius-none">
  <mat-expansion-panel-header>
    <mat-panel-title>
      CTA
    </mat-panel-title>
    <mat-panel-description>
      <mat-icon>smart_button</mat-icon>
    </mat-panel-description>
  </mat-expansion-panel-header>

  <!-- Button panel content-->
  <mat-tab-group dynamicHeight mat-align-tabs="start">
    <mat-tab>

      <!-- Tab label -->
      <ng-template mat-tab-label>
        <mat-icon>text_fields</mat-icon> Text
      </ng-template>

      <!-- Tab text content -->
      <div fxLayout="column" style="margin-top: .5rem" fxLayoutGap="0.5rem">

          <mat-form-field fxFlex appearance="outline">
            <mat-label>CTA content</mat-label>
            <textarea matInput (input)="buttonService.updateButton('text', { text: $event.target.value })"></textarea>
<!--              <textarea (input)="konva.changeButton('text', { text: $event.target.value })-->
<!--                      changeValue(dataset.key, shapeInfo, $event)" [value]="shapeInfo.shapeConfig.text"-->
<!--                        matInput [placeholder]="shapeInfo.userShapeName + ' content'" ></textarea>-->
          </mat-form-field>

        <!-- Text font chooser -->
        <app-font-chooser (fontFamilyLoaded)="buttonService.updateButton('text', { fontFamily: $event })"></app-font-chooser>

        <mat-form-field fxFlex appearance="outline">
          <mat-label>Text color</mat-label>
          <input [(ngModel)]="fontFillColor" (keydown.enter)="fontFillPicker.close()" (focus)="fontFillPicker.open()"
                 [ngxMatColorPicker]="fontFillPicker"
                 (colorChange)="buttonService.updateButton('text',{fill: fontFillColor.toHex8String()})" matInput #fillColourInput>
          <ngx-mat-color-toggle matSuffix [for]="fontFillPicker"></ngx-mat-color-toggle>
          <ngx-mat-color-picker defaultColor="#000" #fontFillPicker touchUi="false"></ngx-mat-color-picker>
        </mat-form-field>


        <app-text-h-alignment (alignmentChanged)="buttonService.updateButton('text', { align: $event })"></app-text-h-alignment>
        <app-text-v-alignment (alignmentChanged)="buttonService.updateButton('text', { verticalAlign: $event})"></app-text-v-alignment>
        <app-text-decoration
          (decorationChanged)="buttonService.updateButton('text', { fontStyle: $event.fontStyle, textDecoration: $event.textDecoration})" >
        </app-text-decoration>


        <div fxFlex fxLayout="column">
          <div class="slider-label" fxLayout="row" fxLayoutAlign="space-between end">
            <label>Font size</label>
            <span>{{ fontSize }}</span>
          </div>
          <mat-slider value="0" (change)="buttonService.updateButton('text', { fontScaling: $event.value })"
                      min="-10" step="0.2" max="20" thumbLabel></mat-slider>
        </div>

        <app-shadow shadowFor="Text" (shadowChange)="buttonService.updateButton('text', $event)"></app-shadow>

      </div>
    </mat-tab>
    <!-- /Tab text content-->

    <!-- Tab style content -->
    <mat-tab>

      <!-- Tab style label -->
      <ng-template mat-tab-label>
        <mat-icon>palette</mat-icon> Style
      </ng-template>
      <ng-template matTabContent>
        <!-- Style tab content -->
        <div fxLayout="column"  fxLayoutGap="0.5rem">
          <app-shape-bg-color (colorChanged)="backgroundChanged($event)" shape="button"></app-shape-bg-color>

          <!--          &lt;!&ndash; Button fill color &ndash;&gt;-->
  <!--          <mat-form-field fxFlex style="margin-top: .25rem" appearance="outline">-->
  <!--            <mat-label>Button color</mat-label>-->
  <!--            <input [(ngModel)]="buttonFillColor" (keydown.enter)="buttonFillPicker.close()" (focus)="buttonFillPicker.open()"-->
  <!--                   [ngxMatColorPicker]="buttonFillPicker"-->
  <!--                   (colorChange)="konva.changeButton('style',{fill: buttonFillColor.toHex8String()})" matInput #fillColourInput>-->
  <!--            <ngx-mat-color-toggle matSuffix [for]="buttonFillPicker"></ngx-mat-color-toggle>-->
  <!--            <ngx-mat-color-picker defaultColor="#000" #buttonFillPicker touchUi="false"></ngx-mat-color-picker>-->
  <!--          </mat-form-field>-->

          <div fxFlex fxLayout="column">
            <div class="slider-label" fxLayout="row" fxLayoutAlign="space-between end">
              <label>Button padding</label>
              <span>{{ padding }}</span>
            </div>
            <mat-slider (change)="buttonService.updateButton('text', { padding: $event.value })"
                        min="0" step="1" max="30" thumbLabel></mat-slider>
          </div>

          <!-- Corner radius-->
          <div fxFlex fxLayout="column">
            <div class="slider-label" fxLayout="row" fxLayoutAlign="space-between end">
              <label>Corner radius</label>
              <span>{{ cornerRadius }}</span>
            </div>
            <mat-slider (valueChange)="buttonService.updateButton('style', { cornerRadius: $event })"
                        [(ngModel)]="cornerRadius" min="0" step="1" max="40" thumbLabel></mat-slider>
          </div>
          <!-- /Corner radius -->

          <app-stroke strokeFor="Button" (strokeChange)="buttonService.updateButton('style', $event)"></app-stroke>

          <app-shadow shadowFor="Button" (shadowChange)="buttonService.updateButton('style', $event)"></app-shadow>

        </div>
        <!-- /Tab content -->
      </ng-template>
    </mat-tab>
    <!-- /Style tab -->
  </mat-tab-group>

</mat-expansion-panel>
