<h2 mat-dialog-title>
  {{ 'display options for dataset' | translate | capitalize }}
</h2>

<mat-dialog-content style="padding: 1rem;" fxLayout="column" fxLayoutGap=".5rem">

<mat-accordion [@.disabled]="disableAnimations">
  <mat-expansion-panel *ngFor="let shapeInfo of this.datasetData">
    <mat-expansion-panel-header>
      <mat-panel-title> {{ shapeInfo.userShapeName.toLowerCase() | translate | capitalize }}</mat-panel-title>
      <mat-panel-description>
        <mat-checkbox color="primary" (click)="$event.stopImmediatePropagation()"
                      (change)="toggleAllDrawingOnBanner(shapeInfo, $event.checked);"
                      [indeterminate]="someSizes(shapeInfo)"
                      [checked]="allSizes(shapeInfo)">
          {{ 'display on all banners' | translate | capitalize }}
        </mat-checkbox>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div fxLayout="column" fxLayoutGap=".25rem">
      <mat-checkbox *ngFor="let banner of this.bannerSizes; index as i"
                    [checked]="isDrawnOnBanner(shapeInfo, i)"
                    (change)="toggleDrawingOnBanner(shapeInfo, i, $event.checked)" >
        {{ banner.layout.name | unslugify | titlecase }}: {{ banner.layout.dimensions.width}}&times;{{ banner.layout.dimensions.height }}
      </mat-checkbox>
    </div>

  </mat-expansion-panel>
</mat-accordion>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-dialog-close mat-raised-button>{{ 'close' | translate | capitalize }}</button>
</mat-dialog-actions>
